Django>=6.0,<7.0
djangorestframework>=3.16.0
djangorestframework-simplejwt>=5.5.0
python-dotenv>=1.2.0
psycopg2-binary>=2.9.0
celery>=5.3.0
redis>=5.0.0
django-celery-beat>=2.5.0
jsonschema>=4.20.0
croniter>=2.0.0

