@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.5% 0 0);

  --color-primary: oklch(0.5206 0.1048 233.25);
  --color-primary-foreground: oklch(98.5% 0 0);

  --color-secondary: oklch(97% 0 0);
  --color-secondary-foreground: oklch(14.5% 0 0);

  --color-muted: oklch(97% 0 0);
  --color-muted-foreground: oklch(55.6% 0 0);

  --color-accent: oklch(97% 0 0);
  --color-accent-foreground: oklch(14.5% 0 0);

  --color-destructive: oklch(57.7% 0.15 27.325);
  /* Kept semantic red but can be neutralized if requested */
  --color-destructive-foreground: oklch(98.5% 0 0);

  --color-border: oklch(92.2% 0 0);
  --color-input: oklch(92.2% 0 0);
  --color-ring: oklch(0.5206 0.1048 233.25);

  --color-sidebar: oklch(98.5% 0 0);
  --color-sidebar-foreground: oklch(14.5% 0 0);
  --color-sidebar-primary: oklch(14.5% 0 0);
  --color-sidebar-primary-foreground: oklch(98.5% 0 0);
  --color-sidebar-accent: oklch(97% 0 0);
  --color-sidebar-accent-foreground: oklch(14.5% 0 0);
  --color-sidebar-border: oklch(92.2% 0 0);
  --color-sidebar-ring: oklch(14.5% 0 0);

  --radius: 0.5rem;
}

@theme dark {
  --color-background: oklch(10% 0 0);
  /* Not pure black (0% 0 0), but dark neutral gray */
  --color-foreground: oklch(98.5% 0 0);

  --color-primary: oklch(0.5206 0.1048 233.25);
  --color-primary-foreground: oklch(98.5% 0 0);

  --color-secondary: oklch(26.9% 0 0);
  --color-secondary-foreground: oklch(98.5% 0 0);

  --color-muted: oklch(26.9% 0 0);
  --color-muted-foreground: oklch(70.8% 0 0);

  --color-accent: oklch(26.9% 0 0);
  --color-accent-foreground: oklch(98.5% 0 0);

  --color-destructive: oklch(39.6% 0.141 25.723);
  --color-destructive-foreground: oklch(98.5% 0 0);

  --color-border: oklch(26.9% 0 0);
  --color-input: oklch(26.9% 0 0);
  --color-ring: oklch(0.5206 0.1048 233.25);

  --color-sidebar: oklch(13% 0 0);
  /* Slightly lighter than background to distinguish */
  --color-sidebar-foreground: oklch(98.5% 0 0);
  --color-sidebar-primary: oklch(98.5% 0 0);
  --color-sidebar-primary-foreground: oklch(14.5% 0 0);
  --color-sidebar-accent: oklch(26.9% 0 0);
  --color-sidebar-accent-foreground: oklch(98.5% 0 0);
  --color-sidebar-border: oklch(26.9% 0 0);
  --color-sidebar-ring: oklch(87% 0 0);
}

/* e.g. in your global CSS */
.react-flow {
  --xy-controls-button-background-color-default: #26262680;  /* button bg */
  --xy-controls-button-background-color-hover-default: #262626; /* hover bg */
  --xy-controls-button-color-default: #f9fafb;  /* icon color */
  --xy-controls-button-color-hover-default: #e5e7eb; /* hover icon color */
  --xy-controls-button-border-color-default: #26262680; /* border */
  --xy-controls-box-shadow-default: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  --xy-attribution-background-color-default: #262626;
}

.react-flow__edge-path {
    stroke-width: 1px !important;
}